<header>
    <style>
        @media (min-width: 768px) {
            html {
                font-size: 16px;
            }
        }

        .container {
            max-width: 960px;
        }

        .pricing-header {
            max-width: 700px;
        }

        .card-deck .card {
            min-width: 220px;
        }
    </style>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h5 class="my-0 mr-md-auto font-weight-normal">
            Hello
            {% if request.user.is_authenticated %}
                <a href="{% url 'home' %}">{{ request.user.username }} </a>
            {% endif %}
        </h5>

        <nav class="my-2 my-md-0 mr-md-3">
            {% if request.user.is_authenticated %}
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="{% url 'account' %}">Account</a>
                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            {% endif %}

        </nav>
    </div>
</header>